
h1 {
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    margin-bottom: 20px; 
  }
  
  
  span[nz-icon][nzType="edit"] {
    color: orange; 
  }
  
  
  span[nz-icon][nzType="delete"] {
    color: red; 
  }
  .select-gray {
    background-color: rgb(230, 229, 229);
  }

  /* pagination */
.pagination {
  margin: 20px 0;
  justify-content: flex-end; /* Aligns the pagination to the right */
}

.pagination .page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #f8f9fa; /* Light background for disabled state */
}

.pagination .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #053d75; /* Dark blue background for active state */
  border-color: #003366; /* Dark blue border for active state */
}

.pagination .page-link {
  position: relative;
  display: block;
  color: #003366; /* Dark blue text color */
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  margin: 0 2px;
}

.pagination .page-link:hover {
  z-index: 2;
  color: #fff;
  background-color: #0056b3; /* Slightly lighter dark blue for hover state */
  border-color: #0056b3;
}

.pagination .page-link:focus {
  z-index: 2;
  color: #fff;
  background-color: #0056b3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
