<div class="card">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Orders</h1>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>Order ID</th>
          <th>Customer ID</th>
          <th>UserName</th>
          <th>Total Quantity</th>
          <th>Total Price</th>
          <th class="text-center">Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let order of orders">
          <td>{{order.orderResponse.orderId }}</td>
          <td>{{ order.orderResponse.customerId }}</td>
          <td>{{ order.userDTO.userName }}</td>
          <td>{{order.orderResponse.totalQuantity }}</td>
          <td>{{ order.orderResponse.totalPrice }}</td>
          <td class="flex justify-center">
            <select [(ngModel)]="order.orderResponse.status" (change)="updateOrderStatus(order.orderResponse.orderId, order.orderResponse.status)" id="small"
              class="w-[150px] text-xs text-white border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [ngClass]="{
                'bg-green-500': order.orderResponse.status === 'Completed',
                'bg-yellow-500': order.orderResponse.status === 'Processing',
                'bg-orange-500': order.orderResponse.status === 'PENDING',
                'bg-blue-500': order.orderResponse.status === 'SHIPPED',
          'bg-red-500': order.orderResponse.status === 'CANCELLED'
              }" [(ngModel)]="order.orderResponse.status">
              <option *ngFor="let status of orderStatuses" [value]="status">{{ status }}</option>
            </select>

          </td>




          <td>
            <a class="dropdown-item"  [routerLink]="['/Order_detail',order.orderResponse.orderId]" data-bs-toggle="modal"
              data-bs-target="#enableOTPDet">
              <img
                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAhZJREFUSEu11UnIjlEUB/DfJxkixc4QyoIipFgpVjIkIcMCpSSJWMgCGcJKUqaSBaHEQjJGWciwkymSOdkqUoYI99R9835Pz/u83/fWe1fPcM79n3vO//+/Hdq8Otq8v2YAvbEQMzEBI/EX7/EI13EBvxoVWgUwC0fzplUHfY01uFUW1AhgZ6p0R074gHO4isf520TMxWIMy982YX8RpAygtvlXLMPl3JayAntgEU6gLzbgYH1gESCquoTvqeLJKflZF0kwBfcQgNNwt5ZXD9AfLzEYy3GmZPMYcKyyk2/EAbxIgx9fG3x94FocSX19jnEN2lIF0CuzKwqcj4vFSq4hmLMuA3WxO53C9mILjmN1EeBj+jEUo/C2ld0xFXfwMM1yUhHgW2ZCsOFHA4CqFkXKIHzCZwwsAgQtY9ADEM9lqxlA5H7J+fHciQ0x/dGZAU9bBIi2PMhEGVsEOJsothSbsa9FgG3YneZ4Os1xRREguH8KrzAGf7qpg55JP28wHEtwvggQw402RcDKZHInuwmwPttEiDWE9rNMkTNwowWrCFu5n61ieqZqQ8lvxZ7MhjC7KxWaCO+JdoSw+iWKxikOV5ld7d/2xLBd+eVdtutQ+hOEJYSVzMtOOiTbSjjpoWIxVRfOnGR8x7K6q4QdF84q3C4LanZl9klVL8DsPLgRudpgS/D9Zja1340qaAbQoiX9T2s7wD867mgZR73eegAAAABJRU5ErkJggg==" />
            </a>
          </td>







        </tr>

      </tbody>
    </table>
  </div>




</div>