<div class="card">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Subcategories</h1>
  <div class="table-responsive text-nowrap">
    <button (click)="openAddCategoryModal()"
      class="px-4 py-2 mb-2 bg-blue-800 hover:bg-blue-600 text-white rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 float-right">
      Add SubCategory
    </button>

    <table class="table">
      <thead class="table-light">
        <tr>
          <th>ID</th>
          <th>Subcategory Name</th>
          <th>Category Name</th>
          <th style="    padding-left: 50px;
          ">Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr *ngFor="let subcategory of subcategories">
          <td>{{subcategory.id }}</td>
          <td>
            <strong>{{ subcategory.name }}</strong>
          </td>

          <td>{{ subcategory.categoryName }}</td>

          <td>
            <div class="dropdown flex flex-row">
              <button (click)="closeModal('edit', subcategory.id)" class="dropdown-item" style="width: 80px;">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAWdJREFUSEvFlLlKRDEUhr9pLOwEcQoFwUJRcasVt9Z3EsX38QnGfXkDC/cFRRQLtXCpND+cyJ0xud7ccZg0uWSG7zv5c5IKLR6VFvNpRtABLAGdwDrwHiq2rKAL2AQmDXoJzAM3jZIyAsG3gAngHngFhux7CnjISlIF3cCGi2QcOAMWgQ+gZmurDr5SVtDjYtgGhg1wbrF8mnQMWAOWywiqFovgj8AzMAjcAm/2rXVJNP+MIhEJfggMAHfucGeBFxfPLjBiJL9+kXrIjfBp4BrIdpHgfv1Xp+btoNeq9JVn4XvAqMnmbA7e2ZhA8AOg32KJwbWuHURHSCDozn/AZQ0JrgyuWbdTmav/dXPVJaeugIW/KvdbCgm+7Mc+gwiu/lfmJ9ZFdbc1NSIvkFzwfXsKjt1d0IEWhsci8oJsYYLPAE+pz3teRJ51ZGeRDI/tILXI3P8XeSqaEhaJKFVQx2yLILXi9p7BNyiKUBlj03X8AAAAAElFTkSuQmCC" />
              </button>

              <a class="dropdown-item" (click)="closeModal('delete',subcategory.id)"><img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKRJREFUSEvtlUEKgCAQRV93CYK6TsdpGXSZrlPQaYpAXVjDt8xd7mR03v8z6FQUXlXh/ChAD4xAYwjZgAGYLaEKsACtcLkC3VvA7i5aQlRclkglUPELwF/I7X1wHFsvDvDKpfXIonn+dfO+BsQK1T7wUx2ohNkl+gGXd/W0JH8P5NeUXSJFeAxIGTQx9HbwWC/5HJUTUCvpLm6OTjUyE/Pbx4oDDlBhOBmYaWrOAAAAAElFTkSuQmCC" /></a>



              <!-- Delete Modal -->
              <div id="deleteModal" tabindex="-1" aria-hidden="true" [hidden]="!isDeleteModalOpen"
                class=" overflow-y-auto overflow-x-hidden fixed top-0 right-0 bottom-0 left-0 z-50 flex justify-center items-center">
                <div class="relative p-4 w-full max-w-md max-h-full">
                  <!-- Modal content -->
                  <div class="relative p-4 text-center bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                    <button type="button" (click)="closeModal('delete',subcategory.id)"
                      class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                      data-modal-toggle="deleteModal">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd" />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                    <svg class="text-gray-400 dark:text-gray-500 w-11 h-11 mb-3.5 mx-auto" aria-hidden="true"
                      fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                        clip-rule="evenodd" />
                    </svg>

                    <p class="mb-4 text-gray-500 dark:text-gray-300">
                      Are you sure you want to delete this subcategory?
                    </p>

                    <div class="flex justify-center items-center space-x-4">
                      <button data-modal-toggle="deleteModal" (click)="closeModal('delete',subcategory.id)"
                        type="button"
                        class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        No, cancel
                      </button>
                      <button type="button" (click)="confirmDelete(subcategory.id)"
                        class="py-2 px-3 text-sm font-medium text-center text-white bg-red-600 rounded-lg hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-red-300 dark:bg-red-500 dark:hover:bg-red-600 dark:focus:ring-red-900">
                        Yes, I'm sure
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- edit modal -->
              <div [hidden]="!isEditModalOpen" *ngIf="isEditModalOpen" class="modal fade show" tabindex="-1"
                style="display: block;" aria-hidden="true">
                <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
                  <div class="modal-content p-3 p-md-5">
                    <div class="modal-body">
                      <button (click)="closeModal('edit', selectedCategoryid!)" type="button"
                        class="btn-close"></button>
                      <form [formGroup]="updateSubCategoryForm"
                        (ngSubmit)="confirmUpdate(updateSubCategoryForm, selectedCategoryid!)" class="add-new-user pt-0"
                        id="addNewUserForm">
                        <div class="mb-3">
                          <label class="form-label" for="add-user-fullname">SubCategory Name</label>
                          <input type="text" class="form-control" id="add-user-fullname" placeholder="name" name="name"
                            aria-label="name" formControlName="name" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="category Name">Category Name</label>
                          <select formControlName="categoryId" id="category Name" class="select2 form-select">
                            <option value="">Select Category Name</option>
                            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
                          </select>
                        </div>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">
                          Save
                        </button>
                        <button type="button" (click)="closeModal('edit', selectedCategoryid!)"
                          class="btn btn-label-secondary" data-bs-dismiss="offcanvas">
                          Cancel
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 
 <!-- add modal -->
 <div [hidden]="!isAddModalOpen" *ngIf="isAddModalOpen" class="modal fade show" tabindex="-1" style="display: block;"
 aria-hidden="true">
 <div class="modal-dialog modal-simple modal-enable-otp modal-dialog-centered">
   <div class="modal-content p-3 p-md-5">
     <div class="modal-body">
       <button (click)="closeModalCate()" type="button" class="btn-close" ></button>
       <form [formGroup]="postSubCategoryForm" (ngSubmit)="postSubCategories()" class="add-new-user pt-0"
         id="addNewUserForm">
         <div class="mb-3">
          <label class="form-label" for="add-user-fullname">SubCategory Name</label>
          <input type="text" class="form-control" id="add-user-fullname" placeholder="name" name="name"
            aria-label="name" formControlName="name" />
        </div>


        <div class="mb-3">
          <label class="form-label" for="category Name">Category Name</label>
          <select formControlName="categoryId" id="category Name" class="select2 form-select">
            <option value="">Select Category Name</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>

         <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">
           Add
         </button>
         <button type="reset" (click)="closeModalCate()" class="btn btn-label-secondary"
           data-bs-dismiss="offcanvas">
           Cancel
         </button>
       </form>
     </div>
   </div>
 </div>
</div>




</div>